<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h5>lect page</h5>
    <h2> Great question. In Django, the urls.py file is where you map URLs to views. You can organize them using the urlpatterns list. Each URL pattern is associated with a view function. How have you structured your urls.py so far?</h2>
    <a href="{% url 'student3' %}"> student question</a>
</body>
</html>